@{
    ViewBag.Title = "Home Page - Continuous Integration";
}

<div class="jumbotron">
    <h1>Continuous Integration and delivery</h1>
    <p class="lead">Deploy ASP.NET MVC projects from TeamCity with Web Deploy.Using MSBuild and Team City for Deployments: Continuous Integration Build and Verify</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VCS repository</h2>
        <p>
            Continuous Deployment for ASP.NET using Git, MSBuild, MSDeploy, and TeamCity. Continuous Deployment for ASP.NET using Git, MSBuild, MSDeploy, and TeamCity. Continuous Deployment for ASP.NET using Git, MSBuild, MSDeploy, and TeamCity.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p> continuous deployment for asp.net using git, msbuild, msdeploy, and teamcity. continuous deployment for asp.net using git, msbuild, msdeploy, and teamcity.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>